<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">{{ editId ? 'Edit Teaching Plan' : 'Add Teaching Plan' }}</h1>
  </div>
  <form (ngSubmit)="save()" class="form-card">
    <div class="form-group">
      <label>Plan Title *</label>
      <input type="text" class="form-control" [(ngModel)]="model.plan_title" name="plan_title" required />
    </div>
    <div class="form-row">
     <div class="form-group">
        <label>Class</label>
        <select
          class="form-control"
          [(ngModel)]="model.class_id"
          name="class_id"
          (change)="loadSubjects(model.class_id)">
          <option [ngValue]="null">Select</option>
          <option *ngFor="let c of classes" [ngValue]="c.class_id">
            {{ c.class_name }}
          </option>
        </select>
     </div>

      <div class="form-group">
        <label>Subject</label>
        <select
          class="form-control"
          [(ngModel)]="model.subject_id"
          name="subject_id">
          <option [ngValue]="null">Select</option>
          <option *ngFor="let s of subjects" [ngValue]="s.subject_id">
            {{ s.subject_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Teacher</label>
        <select class="form-control" [(ngModel)]="model.teacher_id" name="teacher_id">
          <option [ngValue]="null">Select</option>
          <option *ngFor="let t of teachers" [ngValue]="t.teacher_id">{{ t.full_name || t.first_name + ' ' + t.last_name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Plan Date</label>
        <input type="date" class="form-control" [(ngModel)]="model.plan_date" name="plan_date" />
      </div>
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea class="form-control" [(ngModel)]="model.plan_content" name="plan_content" rows="6"></textarea>
    </div>
     <div class="form-section">
      <h3>File Upload</h3>
      <div class="form-group">
        <label>Plan File (PDF/Document)</label>
       <input
          type="file"
          id="file_path"
          class="form-control"
          accept=".pdf,.doc,.docx"
          (change)="onFileSelected($event)"
        />
        <small class="form-text">
          Upload Plab PDF or document file
        </small>
      </div>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="loading">{{ loading ? 'Saving...' : 'Save' }}</button>
    </div>
  </form>
</div>
